
#white list
#includes "core" files and excludes non-listed private subapps

/*
!/js/
!/deployer/
!/php_templater/
!/dev/
!/doc/
!/scenarios/
/scenarios/*

!/scenarios/clean/
!/scenarios/common.tpl/
!/scenarios/intro/
!/scenarios/txt/

!/scenarios/logo/common.tpl
!/scenarios/logo/home.cont
!/scenarios/logo/animated-img
!/scenarios/logo/game-aqua
!/scenarios/logo/words


!/scenarios/nebulae-demo/
!/scenarios/tester/


/scenarios/txt/*
!/scenarios/txt/common.tpl/
!/scenarios/txt/whirlio.cont/
!/scenarios/txt/whirlio-frames/
!/scenarios/txt/gravity/


/scenarios/logo/*
!/scenarios/logo/home.cont/
!/scenarios/logo/common.tpl/
!/scenarios/logo/game-aqua/
!/scenarios/logo/words/
!/scenarios/logo/animated-img-shanked/
!/scenarios/logo/animated-img/



!README
!VERSION.js
!CHANGE_LOG.txt
!LICENSE
!dev
!.gitignore
