
	/*********************************************************************/
	/* Landing messages and canvas wrapper contents                                               */
	/*********************************************************************/

	#loading_wrapper-btb
	{
		position			: absolute;
		width				: 100%;
		height				: 100%;
		top					: 0px;
		left				: 0px;
		z-index				: -3;
	}

	#loading-btb
	{
		margin				: auto;
		height				: 300px;		/* TODM works well? */
		top					: 0px;
		/* background-color	: #000000; */
		color				: #AAAAAA;
		text-align			: center;
		font-size			: 18px;
		display				: none;
		z-index				: -4;
	}

	#canvas_warning-btb
	{
		position			: absolute;
		top					: 20px;
		width				: 100%;
		height				: 600px;

		font-size			: 18px;

		color				: #FFBBBB;

		display				: none;
		z-index				: -3;
		display				: none;
	}


	#canvas_warning_subdiv-btb
	{
		margin				: auto;
		width				: 400px;
	}

	#java-script-disabled-btb
	{
		position			: absolute;
		top					: 20px;
		width				: 100%;
		height				: 150px;
		color				: #FFBBBB;
		text-align			: center;
		z-index				: -2;
	}

	#js-disabled-subdiv-btb
	{
		position			: absolute;
		left				: 250px;
		top					: 0px;
		font-size			: 15px;
		font-weight			: bold;
		color				: #EEAAAA;
	}


	#canvas-btb
	{
		display				: none;
	}


	#canvasBgIm-btb
	{
		position			: absolute;
		width				: 100%;
		height				: 91%;
		top					: 0px;
	}


	#canvasBgIm2-btb
	{
		position			: absolute;
		width				: 100%;
		height				: 91%;
		top					: 0px;
	}

	#canvasFgIm-btb
	{
		position			: absolute;
		width				: 100%;
		height				: 91%;
		top					: 0px;
	}




	#canvasBgIm-btb
	{
		z-index				: 1;
	}

	#canvasBgIm2-btb
	{
		z-index				: 2;
	}

	#canvas-btb
	{
		z-index				: 3;
	}

	#canvasFgIm-btb
	{
		z-index				: 4;
	}

	#content-btb
	{
		z-index				: 5;
	}





	#canvas-btb,
	#canvasBgIm2-btb
	{
		display				: none;
	}


	#canvasBgIm-btb,
	#canvasFgIm-btb
	{
		display				: block;
		visibility			: visible;
	}




